name: pushImage

on:
  workflow_dispatch:
    inputs:
      CABAL_VERSION:
        description: 'The version of Cabal to use'
        required: true
        default: '3.12.1.0'
      GHC_VERSION:
        description: 'The version of GHC to use'
        required: true
        default: '9.6.7'
      PUSH_LATEST_TAG:
        description: 'Push latest tag'
        required: true
        type: choice
        default: 'no'
        options:
          - 'yes'
          - 'no'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout repository
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Build and push
        run: |
          TAGS="-t cardanoapi/haskell:${{ inputs.GHC_VERSION }}"

          if [ "${{ inputs.PUSH_LATEST_TAG }}" = "yes" ]; then
            TAGS="$TAGS -t cardanoapi/haskell:latest"
          fi

          docker buildx build --push \
            --platform linux/amd64,linux/arm64 \
            --build-arg CABAL_VERSION=${{ inputs.CABAL_VERSION }} \
            --build-arg GHC_VERSION=${{ inputs.GHC_VERSION }} \
            $TAGS .
